services:
  api:
    # Overriding the command to install dev requirements at startup
    command: >
      sh -c "pip install --no-cache-dir -r requirements-dev.txt && 
             fastapi dev app/main.py --host 0.0.0.0 --port 8000"
    environment:
      - POSTGRES_HOST=db
      # Use development mode for FastAPI
      - FASTAPI_ENV=development 
    # Optional: mount the code as a volume for hot-reloading
    volumes:
      - .:/app
    user: root # Needed to install packages and write to the mounted volume
